/*HTML*/
* {
  box-sizing: border-box;
}

/*Body*/
.principal {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px;
}

/*Header*/
#inicio {
  background-color: #666;
  height: 15vh;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;  
}
.titulo {
    margin-top: 15px;
    margin-bottom: 5px;
}
.prof {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: right;
  width: 10%;
  height: 70vh;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

#article {
  float: left;
  padding: 0px;
  width: 90%;
  background-color: #f1f1f1;
  height: 70vh;
}

/* Clear floats after the columns */
#section::after {
  content: "";
  display: table;
  clear: both;
}

iframe {
    height: 100%;
    width: 100%;
    padding: 0px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 5px;
  text-align: center;
  color: white;
  height: 12vh;
}
#contacto {
    margin-top: 5px;
}
#titulocontacto {
    margin: 5px;
}
#lineacontacto {
    margin: 2px;
}
.lineacontacto {
    margin: 2px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/*Hoja de Vida*/
#bodyhv {
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin:40px;
background-color:#eee9e9;
}

h1 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:60px;
}
h2 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:30px;
}
h3 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:20px;
}

.encabezadohv {
  text-align: center;
}

.perfil {
  text-align: center;
  margin-bottom: 20px;
}
.perfil img {
  width: 20%;
}
#nombre {
  margin-top: 10px;
  margin-bottom: 5px;
}
#Profesion {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.contenidohv {
  background-color: #FFFFFF;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
border-collapse: collapse;
width: 100%;
}

td {
padding: 8px;
text-align: left;
}

tr:hover {background-color: #D6EEEE;}

#perfilprofesional, #educacion, #experiencia {
  margin-bottom: 30px;
}

/*Servicios*/
.bodyservicios {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee9e9;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

section {
    margin-bottom: 35px;
}

section h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.grillaservicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.servicio {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.servicio:hover {
    transform: translateY(-5px);
}

/*Imagenes con areas*/
.bodyareas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee9e9;
    margin: 0;
    padding: 0;
}

#mainareas {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#tituloareas {
    text-align: center;
    padding: 10px;
}

#gillaareas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.imagenareas {
    text-align: center;
    padding: 10px;
}
.imagenareas img {
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.descripcionareas {
    background: #f9f9f9;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    text-align: justify;
}

.descripcionareas h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

/*Imagenes UNAL*/
.bodyunal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee9e9;
    margin: 0;
    padding: 0;
}
#mainunal {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#titulounal {
    text-align: center;
    padding: 10px;
}

#gillaunal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.imagenunal {
    text-align: center;
    padding: 10px;
}

.imagenunal img {
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    max-width: 100%;
}

.descripcionunal {
    background: #f9f9f9;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    text-align: justify;
}

.descripcionunal h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
}